<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/8059a7ba77.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="styles.css">
  <title>Daniel's Blog</title>
</head>