<nav>
  <header>
    <div class="header-deco">
      <div class="header-deco-1"></div>
      <div class="header-deco-2"></div>
    </div>
    <div class="header-nav">
      <a href="#">daniel's blog</a>
      <button id="drop-down">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </button>
    </div>
  </header>
  <div class="nav-body">
    <form id="search-form">
      <label for="query">Search:</label>
      <div class="form-cluster">
        <input type="text" id="query" name="query">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
    </form>
    <form id="subscribe-form">
      <label for="email">Subscribe to weekly news letter:</label>
      <div class="form-cluster">
        <input type="text" id="email" name="email">
        <button type="submit">Subscribe</button>
      </div>
    </form>
    <p id="disclaimer">
      <q>Disclaimer: this author has no social media accounts</q>
    </p>
  </div>
</nav>