<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Private Posting</title>
</head>
<style>
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  textarea {
    width: 600px;
    height: 400px;
  }
</style>
<body>
  
  <form action="/private" method="POST">
    <label for="title">Title: </label>
    <input type="text" id="title" name="title">
    <label for="markdown">Body: </label>
    <textarea name="markdown" id="markdown"></textarea>
    <button type="submit">Submit</button>
  </form>

</body>
</html>